@require "~styles/_vars"
:host
  display: block
  // min-height: "calc(100% - %s)" % $navHeight
  min-height: 100%
  padding: $cardGap
  background-color: $color.white

  &.off-white-page
    background-color: $color.off-white
