@require "~styles/_vars";

a
  display: inline-block
  color: $color.white
  background: $color.purple
  border-radius: 4.5rem
  font-weight: bold
  padding: 1.4rem 4rem
  font-size: 1.6rem
  transition: background 300ms ease-in-out

  &:hover,
  &:active
    background: $color.pink
