/* Styles for project-details page */
@require "~styles/_utils";
@require "~styles/_vars";

:host
  padding-bottom: $floatingFooterHeight

.project-details__banner
  width: 100%
  margin-bottom: $cardGap
  max-height: 300px
  object-fit: cover
