/* Styles for project-details page */
@require "~styles/_utils";
@require "~styles/_vars";

.project-details
  padding: $cardGap

.project-details__banner
  width: 100%
  margin-bottom: $cardGap

.project-details__description
  h2, h3, h4, h5
    color: $color.purple
