/***************************************************************************/
/*                             Some basic Utils                            */
/* We only add mixins and functions here                                   */
/***************************************************************************/

// some site-wide fixed layout variables

$navHeight-mobile = 5rem
$navHeight-tablet = 10rem


// Media Queries
$breakpoints = {
   tablet-portrait: 600px
   tablet-landscape: 900px
   desktop: 1200px
   big-desktop: 1800px
}

// not working, these don't follow html 62.5%
$breakpoints_em = {
   tablet-portrait: 60em
   tablet-landscape: 90em
   desktop: 120em
   big-desktop: 180em
}

on-mobile-only()
  @media screen and (max-width: $breakpoints.tablet-portrait - 1px)
    {block}

on-tablet-portrait-up()
  @media screen and (min-width: $breakpoints.tablet-portrait)
    {block}

// Same as above
on-tablet-up()
  @media screen and (min-width: $breakpoints.tablet-portrait)
    {block}

on-tablet-landscape-up()
  @media screen and (min-width: $breakpoints.tablet-landscape)
    {block}

on-desktop-up()
  @media screen and (min-width: $breakpoints.desktop)
    {block}

on-big-desktop-up()
  @media screen and (min-width: $breakpoints.big-desktop)
    {block}

// Misc queries
on-tablet-only()
  @media screen and (min-width: $breakpoints.tablet-portrait) and (max-width: $breakpoints.desktop - 1px)
    {block}
