/***************************************************************************/
/*                             Some core variables                         */
/* Only specify variables here with no output css                          */
/***************************************************************************/

$navHeight = 5rem

// Colors:
$color = {
  off-white: #f7f7f7
  white: #ffffff
  text: #333333
  inactive-text: #898989
  pink: #d80f9d
  purple: #7a0f86
  indigo: #271072
  indigo-two: #270f72
  golden: #f3d40f
}

$cardGap = 1.6rem
$floatingFooterHeight = 8rem
