/***************************************************************************/
/*                             Some core variables                         */
/* Only specify variables here with no output css                          */
/***************************************************************************/

$navHeight = 4rem

// Colors:
$color = {
  off-white: #f7f7f7
  white: #ffffff
  text: #333333
  inactive-text: #898989
  pink: #d80f9d
  purple: #7a0f86
  dark-indigo: #270f72
  dark-indigo-two: #271072
  golden: #f3d40f
}

$cardGap = 1.6rem
