@require "_typography";
@require "_vars";

*
  box-sizing: border-box

html
  font-size: 62.5%
  height: 100%

body
  background-color: $color.off-white
  height: 100%
  overflow: auto


// Clear out default link styles
a, a:hover, a:focus, a:active
  text-decoration: none
  color: inherit


ul.horizontal-flat-list
  list-style-type: none
  padding-left: 0
  li
    display: inline-block
