@require "~styles/_utils";
@require "~styles/_vars";

:host
  display: block

.project-card
  background: $color.white
  display: inline-block
  width: 100%
  padding: 1rem
  +on-tablet-up()
    width: 50%
  +on-desktop-up()
    width: calc(100% / 3)

  div
    height: 100%

  &.small
    height: 40rem
    div
      background: $color.dark-indigo
  &.medium
    height: 60rem
    div
      background: $color.pink
  &.large
    height: 80rem
    div
      background: $color.purple
