@require "~styles/_utils";
@require "~styles/_vars";

$cardPadding = $cardGap / 2;

:host
  display: block
  margin: -($cardPadding)

.project-card
  display: inline-block
  width: 100%
  padding: $cardPadding
  +on-tablet-up()
    width: 50%
  +on-desktop-up()
    width: calc(100% / 3)

  figure
    height: 100%
    background: $color.white
    margin: 0
    img.projects-masonry--card-thumbnail
      width: 100%

    figcaption
      padding: 2rem 1rem
      display: flex
      justify-content: space-between
      align-items: center

.projects-masonry--card-arrow
  height: 1.2rem
  width: auto
  flex-shrink: 1
