<div>
    <main class="max-desktop-width-container external-html-styles">
        <h2>I am a User’s Advocate, designing UI/UX for the web and mobile apps for 4 years.</h2>
        <!--<div [innerHTML]="aboutMe"></div>-->

        <p>I am enthusiastic about the contribution I can make to the product development efforts, and about working
            with a talented team.</p>
        <p>My background is in Computer Science, in which I hold a Bachelor of Science degree.</p>
        <p>If you are looking for a “UX unicorn” who knows not only where to put the submit button but exactly what it
            should look like, look no further! I have a keen sense of what users are looking for.</p>
        <p>I can create a wireframe, but I can also turn it into something elegant – or maybe give it a touch of whimsy.
            I am comfortable exploring the needs of different audiences, from children to adults, and students to
            librarians and teachers.</p>
        <p>I know how to take a user-centered approach without losing sight of business goals. and know how to move
            forward without a lot of supervision creating not merely great websites but exceptional web interfaces.</p>
        <p>A UX designer has to be able to design and redesign portals from the ground up. I work efficiently and am
            comfortable with the concept of Lean UX.</p>
        <p>I would be pleased to discuss my candidacy in greater depth.</p>
        <p>A sample of my work has been showcased here. There are few projects which are under the wrap and I cannot
            share its details here.</p>
        <p>I have worked on WordPress too and have an understanding of HTML/CSS.</p>

        <div class="secondary-section">
            <h3>Skills</h3>
            <div class="skill-icon-list">
                <img alt="Sketch" src="~images/icon_sketch.png"/>
                <img alt="Illustrator" src="~images/icon_ai.png"/>
                <img alt="Photoshop" src="~images/icon_ps.png"/>
                <img alt="InDesign" src="~images/icon_id.png"/>
                <img alt="Adobe XD" src="~images/icon_xd.png"/>
                <img alt="Invision" src="~images/icon_invision.png"/>
                <img alt="Flinto" src="~images/icon_flinto.png"/>
            </div>

            <h3>Contact</h3>
            <p>Email: <a type="email" href="mailto:shiviarvk@gmail.com">shiviarvk@gmail.com</a></p>
        </div>
    </main>
</div>
