<div>
    <main class="max-desktop-width-container external-html-styles">
        <h2>A Product Designer with 5 years of experience in global start-up and service agency</h2>
        <!--<div [innerHTML]="aboutMe"></div>-->

        <p>Specializing in UX and
            Visual Design, I enjoy shaping products from early concept to implementation and strive to deliver
            empowering experiences that help bridge the gap between people and products.</p>

        <ul>
            <li>Understanding the requirements of the product owners, brainstorming with the engineering team to gather
                qualitative data for early-stage strategic planning
            </li>
            <li>Responsible for all phases of the Visual Design process</li>
            <li>Focusing on user-centered design methodologies</li>
            <li>Create efficient and innovative experiences that balance user needs and business goals
            </li>
            <li>Work closely with the development team throughout the process for pixel-perfect implementation</li>
            <li>Designed for all iOS and Android platforms</li>
        </ul>

        <p>If you are looking for a “UX unicorn” who knows not only where to put the submit button but exactly what it
            should look like, look no further! I have a keen sense of what users are looking for.</p>

        <p>I can create a wireframe, but I can also turn it into something elegant – or maybe give it a touch of whimsy.
            I am comfortable exploring the needs of different audiences, from children to adults, and students to
            librarians and teachers. I know how to take a user-centered approach without losing sight of business
            goals.</p>

        <p>My developer colleagues call me "Shadyantrakari" (Hindi for Designer, also meaning I plot difficulties for
            them :D).</p>

        <p>A UX designer has to be able to design and redesign portals from the ground up. I am fluent in:</p>

        <div class="secondary-section">
            <!--<h3>Skills</h3>-->
            <div class="skill-icon-list">
                <img alt="Sketch" src="~images/icon_sketch.png"/>
                <img alt="Illustrator" src="~images/icon_ai.png"/>
                <img alt="Photoshop" src="~images/icon_ps.png"/>
                <img alt="Flinto" src="~images/icon_flinto.png"/>
                <img alt="InDesign" src="~images/icon_id.png"/>
                <img alt="Adobe XD" src="~images/icon_xd.png"/>
                <img alt="Invision" src="~images/icon_invision.png"/>
                <img alt="Balsamiq" src="~images/icon_balsamiq.png" style="height: 4rem; margin-bottom:2.2rem;">
                <img alt="Axure" src="~images/icon_axure.svg"style="height: 3rem; margin-bottom: 2.6rem;">
            </div>
            <p>I have worked on WordPress too and have an understanding of HTML/CSS.</p>
            <p>I work efficiently and am comfortable with the concept of Lean UX.</p>
        </div>

        <div class="secondary-section">
            <h3>Contact</h3>
            <p>Email: <a type="email" href="mailto:shiviarvk@gmail.com">shiviarvk@gmail.com</a></p>
        </div>
    </main>
</div>
