<img class="my-info-card__avatar" alt="" src="~images/avatar.jpg"/>
<div class="my-info-card__basic">
    <h3 class="my-info-card__title">Shivani Arvikar</h3>
    <p>
        Molestie at elementum eu, facilisis sed odio morbi quis commodo odio aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat in fermentum! Amet est placerat in egestas erat imperdiet!
    </p>
</div>
<div class="my-info-card__advance">
    <h4 class="my-info-card__skills-title">Skills</h4>
    <div class="my-info-card__skills-container">
        <img alt="Sketch" src="~images/icon_sketch.jpeg"/>
        <img alt="Illustrator" src="~images/icon_ai.jpeg"/>
        <img alt="Photoshop" src="~images/icon_ps.jpeg"/>
    </div>
    <resume-button></resume-button>
</div>
