<img class="my-info-card__avatar" alt="" src="~images/avatar.png"/>
<div class="my-info-card__basic">
    <h3 class="my-info-card__title">Hello there! I'm Shivani</h3>
    <p class="my-info-card__para--mobile">
        A multidisciplinary designer specializing in UX and Visual Design
    </p>
    <p class="my-info-card__para--web">
        A multidisciplinary designer specializing in UX and <br/>Visual Design
    </p>
</div>
<div class="my-info-card__advance">
    <h4 class="my-info-card__skills-title">Skills</h4>
    <div class="my-info-card__skills-container skill-icon-list">
        <img alt="Sketch" src="~images/icon_sketch.png"/>
        <img alt="Illustrator" src="~images/icon_ai.png"/>
        <img alt="Photoshop" src="~images/icon_ps.png"/>
    </div>
    <div class="my-info-card__skills-container skill-icon-list">
        <img alt="InDesign" src="~images/icon_id.png"/>
        <img alt="Adobe XD" src="~images/icon_xd.png"/>
        <img alt="Invision" src="~images/icon_invision.png"/>
    </div>
    <resume-button></resume-button>
</div>
