<nav
>
    <!-- [class.navigation--quick-links-toggle-on]="mShowQuickLinks" -->
    <span>
        <a routerLink="/" >
            SA
        </a>
    </span>
    <!-- Main page navigation -->
    <ul class="navigation__pages horizontal-flat-list" >
        <li *ngFor="let page of pages">
            <a id="navigation-pages-{{page.id}}"
                routerLink="{{page.target}}"
                routerLinkActive="active-link"
            >
                {{page.name}}
            </a>
        </li>
    </ul>
</nav>
