<nav
>
    <!-- [class.navigation--quick-links-toggle-on]="mShowQuickLinks" -->
    <a routerLink="/" class="navigation__logo">
        <img alt="" [hidden]="!lightNav" src="~images/sa_purple.png"/>
        <img alt="" [hidden]="lightNav" src="~images/sa_white.png"/>
    </a>
    <!-- Main page navigation -->
    <ul class="navigation__pages horizontal-flat-list" >
        <li *ngFor="let page of pages">
            <a id="navigation-pages-{{page.id}}"
                routerLink="{{page.target}}"
                routerLinkActive="active-link"
            >
                {{page.name}}
            </a>
        </li>
    </ul>
</nav>
